page-sllwList {
    
        .icontent {
    
            .icontent-middle {
                height: 420px;
                justify-content: center;
                display: flex!important;
                align-items: center!important;

                margin-top: 20px;
                margin-bottom: 20px;
    
                .icard {
                    max-width: 450px;
                    height: 400px;
    
                    border-top: 3px solid;
                    border-radius: 3px;
    
                    .icard-header {
                        height: 190px;
                        padding: 10px 16px;
    
                        ion-col {
                            padding: 0px;
                            font-size: 22px;
                        }
                    }
    
                    .icard-body1 {
                        height: 50px;
                        font-size: 18px;

                        .an-t {
                            color: map-get($colors, primary);
                        }

                        .an-f {
                            color: map-get($colors, danger);
                        }
                    }

                    .icard-body2 {
                        height: 50px;
                        margin-left: 5%;
                        margin-right: 5%;
                        botton {
                        }
                    }

                    .icard-body3 {
                        height: 10px;
                    }

                    .icard-footer {
                        height: 50px;
                        border-top: 1px solid;
                        border-color: map-get($colors, icard-boader);
                        
                        .footer-up {}
                        .footer-desc-col {
                            .footer-desc-note {
                                color: gray;
                                ion-icon {
                                    font-size: 20px;
                                    color: map-get($colors, warning);
                                }
                            }
                        }
                        .footer-down{}
                    }
                }
            }
    
            .icard-border-2 {
                border-color: map-get($word-levels, lev-2) !important;
            }
            .icard-border-1 {
                border-color: map-get($word-levels, lev-1) !important;
            }
            .icard-border0 {
                border-color: map-get($word-levels, lev0) !important;
            }
            .icard-border1 {
                border-color: map-get($word-levels, lev1) !important;
            }
            .icard-border2 {
                border-color: map-get($word-levels, lev2) !important;
            }
        }
    }
    