<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{title}}</ion-title>

        <ion-buttons end (click)="orderQue()">
            <button ion-button icon-only>
                <ion-icon name="list"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end (click)="shuffleQue()">
            <button ion-button icon-only>
                <ion-icon name="refresh"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="icontent">

    <div class="icontent-middle" *ngFor="let word of words; let i = index">
        <ion-card class="icard" text-wrap [ngClass]="'icard-border' + word.levelId">
            <!-- ///////////////////////////////////////////////////////////////////// -->
            <div (click)="word.flag1 = false">
                <ion-row class="icard-header">
                    <ion-col align-self-center text-center>
                        {{word.col01}}
                    </ion-col>
                </ion-row>

                <ion-row class="icard-body1">
                    <ion-col *ngIf="word.flag1 == true" align-self-center text-center [ngClass]="word.col07">
                        {{word.col04}}
                    </ion-col>
                </ion-row>
            </div>
            <ion-row class="icard-body2">
                <ion-col align-self-center text-center>
                    <button ion-button outline block color="gray" (click)="clickAnswer(word.col02, word)">
                        {{word.col02}}
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="icard-body2">
                <ion-col align-self-center text-center>
                    <button ion-button outline block color="gray" (click)="clickAnswer(word.col03, word)">
                        {{word.col03}}
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="icard-body3">
                <br>
            </ion-row>
            <!-- ///////////////////////////////////////////////////////////////////// -->
            <ion-row class="icard-footer">
                <ion-col col-20 class="footer-down" align-self-center text-center (click)="clickThumbs(word, -1)">
                    <button ion-button color="gray" clear small icon-start>
                        <ion-icon name='thumbs-down'></ion-icon>
                    </button>
                </ion-col>
                <ion-col col-60 class="footer-desc-col" align-self-center text-center>
                    <ion-note class="footer-desc-note">
                        <!-- <ion-icon name='warning' class="cursor" (click)="requestModification(word)" >
                        </ion-icon> &nbsp; -->
                        {{word.lecName}} - {{word.num}}
                    </ion-note>
                </ion-col>
                <ion-col col-20 class="footer-up" align-self-center text-center (click)="clickThumbs(word, 1)">
                    <button ion-button color="gray" clear small icon-start>
                        <ion-icon name='thumbs-up'></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>

</ion-content>