<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{cat.name}}</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)="startTest()" [disabled]="isStartBtn == false">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="icontent">
  
    <ion-list class="ilist">
      <ion-list-header class="iheader" no-lines>
        <ion-note item-left>Setting</ion-note>
      </ion-list-header>
  
      <ion-item class="ilist-item">
        <ion-label>Level</ion-label>
        <ion-select [(ngModel)]="selectLevs" okText="Select" multiple="true" (ionChange)="checkStartBtn()">
          <ion-option *ngFor="let lev of levs" value="{{lev.id}}">{{lev.name}}</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="ilist-item">
        <ion-label>Count</ion-label>
        <ion-select [(ngModel)]="selectCnt" okText="Select" >
          <ion-option *ngFor="let cnt of cnts" value="{{cnt}}">{{cnt}}</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="ilist-item">
        <ion-label>Select lecture</ion-label>
        <ion-select [(ngModel)]="selectLecType" okText="Select" (ionChange)="checkStartBtn()">
          <ion-option value="0">Checkbox</ion-option>
          <ion-option value="1">Range</ion-option>
        </ion-select>
      </ion-item>
  
      <ion-list-header class="iheader" no-lines>
        <ion-note item-left>Lectures</ion-note>
        <ion-note item-right *ngIf="selectLecType == 1">{{lecRange.lower}} ~ {{lecRange.upper}}</ion-note>
      </ion-list-header>
      <ng-container *ngIf="selectLecType == 0">
      <ion-item class="ilist-item cb-all">
        <ion-label>All</ion-label>
        <ion-checkbox [(ngModel)]="cbA" (click)="initCheckbox(cbA)"></ion-checkbox>
      </ion-item>
      <ion-item class="ilist-item" *ngFor="let lec of lecs; let i = index">
        <ion-label>{{lec.name}}</ion-label>
        <ion-checkbox [(ngModel)]="cbs[i]" (click)="checkCb(cbs[i])" (ionChange)="checkStartBtn()"></ion-checkbox>
      </ion-item>
      </ng-container>
  
      <ng-container *ngIf="selectLecType == 1">
        <ion-item class="ilist-item">
          <ion-range dualKnobs="true" pin="true" min="1" [max]="lecs.length" [(ngModel)]="lecRange" disabled="false">
            <ion-label range-left>1</ion-label>
            <ion-label range-right>{{lecs.length}}</ion-label>
          </ion-range>
        </ion-item>
      </ng-container>
    </ion-list>
  
  </ion-content>